/* colors
#e88694
#e4e3df
#fdfdfd
 #2d2f30
 */
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Cairo', Arial, Helvetica, sans-serif;
}

body {
    background-color: #fdfdfd;
}

h1 {
    color: #e88694
            #e4e3df
             #fdfdfd
             #2d2f30
}

footer {
    background-color: rgb(15, 15, 65);
    color: #fdfdfd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 1.2rem;
}
.map {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
}
.map iframe {
    width: 100%;
}

header {
    background-image: url('imgs/bg2.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20vw;
    padding-block: 10vh;
    color: #fdfdfd;
    font-size: 2rem;
}


button {
    background-color: #e88694;
    color: #fdfdfd;
    border: none;
    border-radius: 4px;
    width: 10vw;
    font-weight: 600;
    margin-top: 5vh;
    transition: background-color 0.3s ease-in-out;
    font-size: 1.4rem;
    
}

button:hover {
    cursor: pointer;
    background-color: rgb(221, 77, 98);
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #fdfdfd;
    box-shadow: 0px 0px 0.5px 1.5px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    padding: 1vw;
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: #2d2f30;
    transition: 0.2s linear;
}

li a:hover {
    color: rgb(220, 48, 74);
}

.profile-pic {
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #fff;
    transform: scale(1.2);
    z-index: 5;
    padding: 0;
    width: fit-content;
}
.profile-pic img {
    width: 80px;
    z-index: 6;
    padding: 0;
    margin: 0;
}
li .selected {
    color: #e88694;
}


.dark-section {
    height: 20vh;
    background-color: #2d2f30;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rye', monospace;
}

.dark-section h5 {
    color: #e88694;
    text-transform: uppercase;
    font-size: 2rem;
}

.dark-section p {
    color: #fdfdfd;
}

.dark-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-inline: 3vw;
}

.dark-item div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 1vw ;
}


.dark-item i{
    color: #fdfdfd;
    transition: 0.3s ease-in;
}

.dark-item i:hover{
    color: #e88694;
    cursor: pointer;
}

.mail-box {
    /* background-color: #e88694; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
    height: 4vh;
}
.d2 {
    flex-direction: column;
    justify-content: space-evenly;
}

.d2 h3 {
    color: #fdfdfd;
    font-size: 2rem;
}
.mail-box i {
    color: #e88694;
    scale: 3;
    transition: 0.3s linear ;
}

.mail-box a i:hover {
    color: #fdfdfd;
}

.contact {
    justify-self: flex-start;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    bottom: 100;
}

.contact a i {
    text-decoration: none;
    color: #fdfdfd;
    padding: 0.5%;
    scale: 0.6  ;
    transition: 0.3s ease-in-out;
    transform: translateY(-15vh);
}


.contact a i:hover {
    color: #e88694;
}